#error, #login {
    display: none;
}

#chatbox {
    width: 100%;
}

#msglist {
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    padding: 0;
    word-break: break-all;
}

.chatline span {
    font-weight: bold;
}

.chatline:nth-child(even) {
    background-color: #f2f2f2;
}

.chatline-announce {
    font-weight: bold;
    font-style: italic;
}

#msgform input {
    width: 100%
}

#msgform span {
    display: block;
    overflow: hidden;
}

#msgform button {
    float: right;
}

#msgform input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

