{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <p class="important">
    Welcome on my awesome homepage.
    <h1>Username: <input type="text" placeholder="anonymous" id="username" />, secret key: <span id="secretkey">undefined</span></h1>
    <div id="error">
        That username is already taken.<span id="login"> If it belongs to you, enter your secret key: <input type="text" placeholder="12345" id="keyprompt" /></span>
    </div>
  <table id="msglist">
      <tbody>
          <tr><th>user</th><th>messages</th></tr>
      </tbody>
  </table>
  <form id="chatter">
      <label for="msgbox">Message:</label><input type="textarea" name="msgbox" id="msgbox"></input>
      <input type="submit" onclick="sendmsg(); return false;" value="Send"></input>
  </form>
  Logged in as {{ session['username'] }}.  <a href="/logout">Log out</a>
  <script type="text/javascript" src="static/client.js"></script>
{% endblock %}
