{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>welcome to web500</h1>
  {% if invalid_login %}
  <p>Username is taken</p>
  {% endif %}
  <form action="login" method="post">
    {% if 'room' in request.args %}
    <input type="hidden" name="room" value="{{request.args['room']}}" />
    {% endif %}
    <label for="username">Pick a username:</label>
    <input type="text" name="username" autofocus="true" required="required" />
    <input type="submit" value="Login" />
  </form>
{% endblock %}
